@import url('https://api.fontshare.com/v2/css?f[]=poppins@400,500,600,700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');

:root {
    --title-font-weight: 500;
    --default-border-radius: 20px;
    --main-color: #FF8282;
    --base-color: #101010;
    --highlight-element-color: #202020;
    --link-color: #408dd9;
}

* {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #F0F0F0;
}

html,
body {
    display: flex;
    flex-direction: column;
    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Style */
    width: 100%;
    height: 100%;
    background: var(--base-color);
}

/* -- */
.root-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.searchyLogoSection-root {
    display: flex;
    align-items: center;
    margin-top: -100px;
}
.text_LogoSection {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.text_LogoSection > h1 {
    font-size: 3rem;
    font-weight: var(--title-font-weight);
    margin: 0;
}
.text_LogoSection > h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

/* Search input */
.searchSection-root { margin-top: 50px; }

.searchyInput-root {
    display: flex;
    align-items: center;
    width: 600px;
    height: 50px;
    background-color: var(--highlight-element-color);
    border-radius: var(--default-border-radius);
}

.searchyInput-root > i {
    display: flex;
    font-size: 1.25rem;
    color: #9A9A9A;
    margin: 0 15px;
}

.searchyInput-root > input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--highlight-element-color);
    outline: none;
}

.searchyInput-root > .button_inputRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 15px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: .781rem;
    font-size: .75rem;
    font-weight: var(--title-font-weight);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: .2s;
}
.searchyInput-root > .button_inputRoot:hover { background-color: #d45e5e; }

/* Searchy phrase */
.searchyPhrase-root {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 50px;
    font-weight: var(--title-font-weight);
    font-size: 1.125rem;
}

/* Footer info */
.githubInfo-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
}

.openSourceInfo-githubRoot {
    font-size: 1rem;
    font-weight: var(--title-font-weight);
    margin: 0 0 20px 0;
}

.button-githubRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: #F0F0F0;
    box-shadow: 0 0 75px 0 rgba(255, 255, 255, .35);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: .2s;
}
.button-githubRoot > span {
    color: #000;
    font-weight: var(--title-font-weight);
    margin-left: 15px;
}

.button-githubRoot:hover {
    background-color: #CFCFCF;
    box-shadow: 0 0 75px 0 rgba(255, 255, 255, .35), 5px 5px 0px #9A9A9A, 10px 10px 0px #707070;
}

/* Search page */
/* Header */
.searchyHeader-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #303030;
}

.searchyHeader-search > #no-navigation,
.searchyHeader-search > #navigation,
.searchyHeader-search > #navigation > #links { display: flex; }

/* Top part of header */
/* -- Search input for search page */
.searchyHeader-search .searchyInput-root { margin-left: 40px; }

.button_inputSearch {
    margin-right: 15px;
    cursor: pointer;
}
.button_inputSearch > i {
    display: flex;
    color: #9A9A9A;
    transition: .2s;
}

.button_inputSearch:hover > i { color: #F0F0F0; }

/* -- Right part */
.rightSection-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
}

.rightSection-header > p {
    font-size: 1rem;
    font-weight: var(--title-font-weight);
    margin-right: 30px;
}

/* Navigation part */
.searchyHeader-search > #navigation {
    align-items: center;
    margin: 20px 0 0 90px;
    width: 600px;
}

.searchyHeader-search > #navigation > #links {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 10px;
}

.searchyHeader-search > #navigation > #links::-webkit-scrollbar {
    display: none;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    padding: 0 15px;
    background-color: #303030;
    border-radius: 10px;
    font-size: .875rem;
    font-weight: var(--title-font-weight);
    text-decoration-line: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.nav-button > span {
    color: #9A9A9A;
    transition: .2s;
}
.nav-button.active > span { color: #fff; }

.nav-button:hover > span { color: #fff; }

.searchyHeader-search > #navigation > #settings {
    display: flex;
    height: fit-content;
    margin-left: auto;
    font-size: 25px;
    padding-left: 20px;
    box-shadow: -10px 0 10px 5px #101010;
    color: #9A9A9A;
    cursor: pointer;
    transition: .2s;
}
.searchyHeader-search > #navigation > #settings:hover { color: #fff; }

/* Results */
.resultsSection-root {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 120px;
    min-width: 600px;
    height: 100%;
    gap: 30px 0;
}

.resultsSection-root > a {
    text-decoration-line: none;
    width: fit-content;
}

.result-searchRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    cursor: pointer;
}

.top-resultInfos {
    display: flex;
    align-items: center;
}

.top-resultInfos > img {
    border-radius: 50% !important;
    object-fit: contain;
    width: 50px;
    height: 50px;
    border: 2px solid #303030;
    background-color: #F0F0F0;
}
.top-resultInfos > #name-url {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: calc(100% - 65px);
}

.top-resultInfos > #name-url > #name { font-weight: var(--title-font-weight); }
.top-resultInfos > #name-url > #url {
    color: #CFCFCF;
    font-size: .875rem;
    transition: .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-resultInfos {
    display: flex;
    flex-direction: column;
}

.main-resultInfos > #page-name {
    font-size: 1.25rem;
    font-weight: var(--title-font-weight);
    margin: 10px 0 5px 0;
    transition: .2s;
}
.main-resultInfos > #page-description {
    margin: 0;
    color: #CFCFCF;
    max-height: 150px;
    overflow: hidden;
}

.top-resultInfos > #name-url > #url:hover { text-decoration-line: underline; }
.main-resultInfos > #page-name:hover { color: var(--link-color); }

/* Context */
.contextSection-root {
    display: flex;
    margin: 20px 30px 0;
}

.context-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 460px;
    min-width: 360px;
    height: fit-content;
    padding: 20px;
    background-color: #202020;
    border-radius: 25px;
}

.context-container > #head {
    display: flex;
    align-items: center;
    width: 100%;
}


.context-container > #head > img {
    min-width: 50px;
    max-width: 100px;
    height: 40px;
    padding: 5px 15px;
    margin-left: auto;
    object-fit: contain;
    border-radius: 10px;
    background-color: #303030;
}

.context-container .head-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-info > p {
    margin: 0;
    font-weight: var(--title-font-weight);
    font-size: 1.125rem;
}

.context-container > #abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 30px);
    max-height: 205px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #303030;
    text-decoration-line: none;
    cursor: pointer;
    transition: .2s;
}
.context-container > #abstract:hover { background-color: #404040; }

.context-container > #abstract > p {
    margin: 0;
    font-size: 0.875rem;
    overflow: hidden;

}
.context-container > #abstract > span {
    margin-top: 5px;
    color: var(--link-color);
    font-weight: var(--title-font-weight);
    font-size: 0.875rem;
}

.context-container > #advanced:has(*), .context-container > #profiles:has(*) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 15px 0 0;
    border-top: 1px solid #404040;
}

#advanced > div:not(:first-child) > p {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
}
#advanced > div:first-child > p { margin: 0; }

#advanced > div #strong {
    font-size: 14px;
    font-weight: var(--title-font-weight);
}

.context-container > #profiles {
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.context-container > #profiles img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    transition: .2s;
}

.context-container > #profiles > a:not(:first-child) { margin-left: 10px; }
.context-container > #profiles > a:hover img { filter: opacity(.5); }

/* Loading */
._loading {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #e0e0e0;
    border-radius: 8px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}
  
._loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
    animation: slide 1.5s infinite;
}
  
@keyframes skeleton-loading {
    0% {
      background: #202020;
    }
    50% {
      background: #303030;
    }
    100% {
      background: #202020;
    }
}
  
@keyframes slide {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
}  